{% extends "base.html" %}

{% block title %}Results{% endblock %}


{% block content %}
    {% for round in rounds %}
    <section class="round-section">
      <div class="results-container">
        <h2>{{ round.round_name }}</h2>
        <div class="table-wrapper">
          <table class="round-table">
            <thead>
              <tr>
                <th>Heat</th>
                <th>Channel</th>
                <th>Nickname</th>
                <th>Position</th>
                <th>Gains</th>
                <th>Points</th>
              </tr>
            </thead>
            <tbody>
              {% for heat in round.heats %}
                {% for pilot in heat.pilots %}
                  {% if loop.index == 1 %}
                    <tr class="heat-start">
                    <td rowspan="4" class="vertical-text">{{ heat.heat_name }}</td>
                  {% else %}
                    <tr>
                  {% endif %}
                  <td>{{ pilot.channel }}</td>
                  <td>
                    {% if pilot.pilot_id is not none %}
                      <a href="{{ url_for('pilot', pilot_id=pilot.pilot_id) }}">
                        {{ pilot.nickname }}
                      </a>
                    {% else %}
                      {{ pilot.nickname }}
                    {% endif %}
                  </td>
                  <td>{{ pilot.nickname }}</td>
                  <td>{{ pilot.position }}</td>
                  <td>{{ pilot.gains }}</td>
                  <td>{{ pilot.points }}</td>
                </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
    {% endfor %}

{% endblock %}
